# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/
env/

# IDE e editor
.vscode/
.idea/

# Dati e file temporanei
*.log
*.tmp

# Ignora tutti i CSV generati automaticamente
data/*.csv

# Ignora file world per appunti 
*.docx

# Ignora app creazioe qrcode sito in locale
dashboard/prova.py

# Ignora immagini QR code generate 
e_lithium_qrcode.png
