# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/
env/

# IDE e editor
.vscode/
.idea/

# Dati e file temporanei
*.log
*.tmp

# Ignora tutti i CSV generati automaticamente
data/*.csv

